@font-face {
  font-family: 'Satoshi';
  font-weight: 300;
  src: url('./Satoshi-Light.ttf');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  src: url('./Satoshi-Regular.ttf');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  src: url('./Satoshi-Medium.ttf');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  src: url('./Satoshi-Bold.ttf');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 900;
  src: url('./Satoshi-Black.ttf');
}
