@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.scss';

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  @screen md {
    font-size: 16px;
  }
}

body {
  @apply bg-base-300/10;
  main {
    @apply relative z-0;
  }
  #headlessui-portal-root {
    @apply relative z-0;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
